<!DOCTYPE html>
<html lang="en">

<head>
	<title>Shoping Cart</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<!--===============================================================================================-->
</head>

<body class="animsition">

	<!-- Header -->
	<% include ./../elements/header %>


	<!-- breadcrumb -->



	<!-- Shoping Cart -->
	<!-- <form class="bg0 p-t-75 p-b-85"></form> -->
	<div class="container">
		<div class="row" style="margin-top: 15px">
			<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
				<div class="m-l-25 m-r--38 m-lr-0-xl">
					<div class="wrap-table-shopping-cart">
						<table class="table-shopping-cart" id="table">
							<tr class="table_head">
								<th class="column-1">Sản phẩm</th>
								<th class="column-2"></th>
								<th class="column-3">Giá cả</th>
								<th class="column-4">Số lượng</th>
								<th class="column-5">Tổng</th>
							</tr>
							<% for(var i=0; i < productAll.length ; i++){ %>
							<tr class="table_row">
								<td class="column-1" onclick="location.href = '/gio-hang/<%= productAll[i].id %>'">
									<div class="how-itemcart1">
										<img src="<%= productAll[i].image%>" alt="IMG">
									</div>
								</td>
								<td class="column-2" id="<%= productAll[i].id %>"><%= productAll[i].name %></td>
								<td class="column-3"><%= productAll[i].price %> đ</td>
								<td class="column-4"><%= productAll[i].quantity %></td>
								<td class="column-5"> <%= productAll[i].price * productAll[i].quantity %>đ</td>
							</tr>
							<%}%>
								
							<tr>
								<td></td>
							</tr>
								<!-- <tr class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="images/item-cart-05.jpg" alt="IMG">
										</div>
									</td>
									<td class="column-2">Áo khoác nhẹ</td>
									<td class="column-3">450.000 đ</td>
									<td class="column-4">
										<div class="wrap-num-product flex-w m-l-auto m-r-0">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product2" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>
									</td>
									<td class="column-5">450.000 đ</td>
								</tr> -->
							</table>
						</div>
						
						<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
								<div class="col-md-6">
									<div style="text-align: center;">
										Tổng tiền:
									</div> 
								</div>
								<% var sumMoney = 0;
								for(var i=0; i < productAll.length ; i++){ 
									sumMoney = sumMoney + productAll[i].quantity*productAll[i].price;
									
								}%>
							<div class="col-md-6">
								<div style="float: right" id="sumMoney">
									<%= sumMoney %>đ
								</div>

							</div>
					</div>
					

				</div>
			</div>

			

		</div>
	</div>





	<!-- Footer -->
	<% include ./../elements/footer %>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});
		$('.subtract').click(function () {
			var id_product = $(this).parent().parent().parent().find(".column-2").attr('id');
			console.log(id_product);
			var sum = 0;
			var price = $(this).parent().parent().parent().find(".column-3").text();
			var quantity = $(this).parent().find('input').val();
			$(this).parent().parent().parent().find(".column-5").html("");
			$(this).parent().parent().parent().find(".column-5").append("" + parseInt(price) * (parseInt(quantity) - 1) + "đ");
			$('.column-5').each(function () {

				if (!isNaN(parseInt($(this).text()))) {
					sum = sum + parseInt($(this).text());
					console.log("sum1: " + sum);
				}


			})
			$("#sumMoney").html("");
			$("#sumMoney").append(sum + "đ");
			$.ajax({
				url: "/gio-hang/change-quantity",
				type: "POST",
				contentType: 'application/x-www-form-urlencoded',
				data: { id_product: id_product,
						quantity: parseInt(quantity) - 1
						},
				success: function (response) {
					

				},
				error: function () {
					alert("Lỗi");
				}
			});
		})
		$('.plus').click(function () {
			var id_product = $(this).parent().parent().parent().find(".column-2").attr('id');
			var sum = 0;
			var price = $(this).parent().parent().parent().find(".column-3").text();
			var quantity = $(this).parent().find('input').val();
			$(this).parent().parent().parent().find(".column-5").html("");
			$(this).parent().parent().parent().find(".column-5").append("" + parseInt(price) * (parseInt(quantity) + 1) + "đ");
			$('.column-5').each(function () {

				if (!isNaN(parseInt($(this).text()))) {
					sum = sum + parseInt($(this).text());
					console.log("sum1: " + sum);
				}


			})
			$("#sumMoney").html("");
			$("#sumMoney").append(sum + "đ");
			$.ajax({
				url: "/gio-hang/change-quantity",
				type: "POST",
				contentType: 'application/x-www-form-urlencoded',
				data: { id_product: id_product,
						quantity: parseInt(quantity) + 1
						},
				success: function (response) {
					

				},
				error: function () {
					alert("Lỗi");
				}
			});
		})
		$('.number-change').change(function () {
		
			var id_product = $(this).parent().parent().parent().find(".column-2").attr('id');
			var sum = 0;
			var price = $(this).parent().parent().parent().find(".column-3").text();
			var quantity = $(this).parent().find('input').val();
			$(this).parent().parent().parent().find(".column-5").html("");
			$(this).parent().parent().parent().find(".column-5").append("" + parseInt(price) * (parseInt(quantity)) + "đ");
			$('.column-5').each(function () {

				if (!isNaN(parseInt($(this).text()))) {
					sum = sum + parseInt($(this).text());
					console.log("sum1: " + sum);
				}


			})
			$("#sumMoney").html("");
			$("#sumMoney").append(sum + "đ");
			$.ajax({
				url: "/gio-hang/change-quantity",
				type: "POST",
				contentType: 'application/x-www-form-urlencoded',
				data: { id_product: id_product,
						quantity: parseInt(quantity)
						},
				success: function (response) {
					

				},
				error: function () {
					alert("Lỗi");
				}
			});
		})
		function checkPhone() {
			var bt = document.getElementById('btnSubmit');
			var phoneCurrent = $("#phone_number").val();
			var flag = false;
			var vnf_regex = /((09|03|07|08|05)+([0-9]{8})\b)/g;
			var mobile = $('#phone_number').val();
			if (vnf_regex.test(mobile) == false) {
				$('#phone_number').attr("style", "color: red");
				$("#errPhoneNumber").attr("style", "");
				bt.disabled = true;
				flag = false;
			} else {
				$('#phone_number').attr("style", "");
				$("#errPhoneNumber").attr("style", "display:none;");
				flag = true;
				bt.disabled = false;
			}

		}
		function sumMoney() {

		}
	</script>
	<!--===============================================================================================-->
	<script src="/js/main.js"></script>

</body>

</html>